.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    padding: 0 8px;
    outline: none;
    cursor: pointer;
    line-height: 2;
    border: 1px solid transparent;
}

.button-blue {
    color: white;
    background-color: #0f6bdd;

    &:hover {
    background-color: #0072ff;
    }

    &:active {
        box-shadow: 0px 0px 2px 1px #0f6bdd;
        border: 1px solid #0f6bdd;
    }
}